body {background-color: #cdd0cb;
font-family: "Helvetica Neue",sans-serif;}

h1{text-align: center;
   color: #337ab7;
   font-family: "Helvetica Neue",sans-serif;
   font-size: 250%;
   margin-bottom: 15px;
   font-weight: normal;
 }

h4{color: green;
text-align: center;
font-size: 150%;
margin-bottom: 10px;
font-weight: normal;
margin-top: 0;}

.alb{height: 300px;}

.para{margin-top: 0;}

.para2{margin-top: 2px;
font-size: 20px;
margin-bottom: 10px;}

.para3{margin-bottom: 10px;}

.para4{font-size: 18.2px;
color:#6930c3;
margin-bottom: 12.5px;}

.anc{text-decoration: none;
color:#11698e;}

.div{font-size: 14.7px;}
